.home__divlogo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.home__divlogo__iconloop{
    position: absolute;
    height: 260px;
    animation: gira 6s infinite linear;
}

.home__divlogo__icon{
    height: 160px;
}


@media screen and (min-width: 1024px) {
    .home__divlogo{
        align-self: flex-start;
        margin-left: 55px;
        margin-bottom: 20px;
    }    
}



@keyframes gira {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-height: 450px){
    .home__divlogo__iconloop{
        animation: none;
    }
}
