.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    text-align: center;
    max-width: 1920px;
    max-height: 1080px;
}

@media screen and (min-width: 1024px) {
    .home{
        margin-left: 85px;
    }
}