.home__titulo{
    font-size: 56px;
    letter-spacing: -1px;
    margin-top: 20px;
    background-image: linear-gradient(180deg, #52A555 41.67%, #000000 92%);
    background-size: 100% 100%;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media screen and (min-width: 1024px) {
    .home__titulo{
        align-self: flex-start;
        font-size: 64px;
        margin: 30px 0px;
    }   
}


@media screen and (min-width: 1200px) {
    .home__titulo{
        font-size: 70px;
    }   
}

   

@media screen and (min-width: 1440px) {
    .home__titulo{
        font-size: 76px;
    }   
}

