.home__titulo{
    font-size: 48px;
    letter-spacing: -1px;
    margin: 0px;
    background-image: linear-gradient(180deg, #52A555 41.67%, #000000 92%);
    background-size: 100% 100%;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

