.home__arrow{
    justify-self: flex-end;
    position: absolute;
    bottom: 150px;
    animation: arrow_animation_mobile 1s alternate infinite;
}

@keyframes arrow_animation_mobile {
    from{
        bottom: 150px;
    }
    to{
        bottom: 90px;
    }
}

@keyframes arrow_animation_desktop {
    from{
        bottom: 100px;
    }
    to{
        bottom: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .home__arrow{
        bottom: 100px;
        animation: arrow_animation_desktop 1s alternate infinite;
    }
}