.home__paragrafo{
    max-width: 280px;
    padding: 0px 45px;
    margin: 0px;
    box-sizing: content-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

@media screen and (min-width: 1024px) {
    .home__paragrafo{
        align-self: flex-start;
        font-size: 24px;
        padding: 0px;
        text-align: left;
        max-width: 380px;
    }   
   }


@media screen and (min-width: 1440px) {
.home__paragrafo{
    font-size: 27px;
    max-width: 540px;
}   
}


@media screen and (min-width: 1700px) {
.home__paragrafo{
    font-size: 32px;
    max-width: 500px;
    margin-top: 20px;
}   
}