.home__divlogo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.home__divlogo__iconloop{
    position: absolute;
    height: 240px;
}

.home__divlogo__icon{
    height: 140px;
}


@media screen and (max-width: 340px) {
    .home__divlogo__iconloop{
        position: absolute;
        height: 230px;
    }
    
    .home__divlogo__icon{
        height: 130px;
    }
}

@media screen and (max-width: 740px) {
    .home__divlogo__iconloop{
        position: absolute;
        height: 260px;
    }
    
    .home__divlogo__icon{
        height: 160px;
    }
}



@media screen and (min-width: 1024px) {
    .home__divlogo{
        margin-right: 100px;
    }    
}


/* 
.home__divlogo{
    position: relative;
    width: 100vw;
    height: 270px;
    margin-top: 30px;
}

.home__divlogo__iconloop{
    position: absolute;
    height: 260px;
    left: calc(50% - 130px);
    transform: rotate(20deg);
}

.home__divlogo__icon{
    position: absolute;
    height: 160px;
    left: calc(50% - 80px);
    top: 50px;
}   


@media screen and (min-width: 1024px) {
    .home__divlogo{
        margin-top: 100px;
    }

    .home__divlogo__iconloop{
        position: absolute;
        height: 260px;
        left: 45px;
        transform: rotate(20deg);
    }

    .home__divlogo__icon{
        position: absolute;
        height: 160px;
        left: 95px;
        top: 50px;
    }  
} */