.home__arrow--wrapper{
    display: flex;
    margin-top: 100px;
    animation: anima__arrow__mobile 1.5s alternate infinite ease-out;
}

.home__arrow--desktop{
    display: none;
}

@keyframes anima__arrow__mobile {
    0%{
        margin-top: 100px;
    }
    100%{
        margin-top: 200px;
    }
}

@media screen and (min-width: 1024px){
    .home__arrow--wrapper{
        display: none;
    }

    .home__arrow--desktop{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .home__arrow--wrapper{
        display: none;
    }

    .home__arrow--desktop{
        display: block;
        position: absolute;
        bottom: 100px;
        left: calc(50vw - 90px);
        animation: anima__arrow__desktop 1s alternate infinite;
    }
}

@keyframes anima__arrow__desktop {
    0%{
        bottom: 100px;
    }
    100%{
        bottom: 50px;
    }
}
