.home__divlogo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.home__divlogo__iconloop{
    position: absolute;
    height: 260px;
}

.home__divlogo__icon{
    height: 160px;
}


@media screen and (min-width: 1024px) {
    .home__divlogo{
        align-self: flex-start;
        margin-left: 55px;
    }    
}


/* 
.home__divlogo{
    position: relative;
    width: 100vw;
    height: 270px;
    margin-top: 30px;
}

.home__divlogo__iconloop{
    position: absolute;
    height: 260px;
    left: calc(50% - 130px);
    transform: rotate(20deg);
}

.home__divlogo__icon{
    position: absolute;
    height: 160px;
    left: calc(50% - 80px);
    top: 50px;
}   


@media screen and (min-width: 1024px) {
    .home__divlogo{
        margin-top: 100px;
    }

    .home__divlogo__iconloop{
        position: absolute;
        height: 260px;
        left: 45px;
        transform: rotate(20deg);
    }

    .home__divlogo__icon{
        position: absolute;
        height: 160px;
        left: 95px;
        top: 50px;
    }  
} */