.introducao__paragrafo{
    max-width: 800px;
    font-size: 16px;
    text-align: justify;
    font-weight: 500;
}

.introducao__paragrafo--spanRoxo{
    color: var(--roxotoxic);
}

.introducao__paragrafo--spanVermelho{
    color: var(--vermelhonegativo);
}

.introducao__paragrafo--spanVerde{
    color: var(--verdepositivo);
}

@media screen and (min-width: 360px) {
    .introducao__paragrafo{
        font-size: 17px;
    }
}

@media screen and (min-width: 420px) {
    .introducao__paragrafo{
        font-size: 18px;
    }
}