@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';


.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 100px auto;
  padding: 0 20px;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: c;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column {
  margin-bottom: 1.5rem;
  width: 100%;
  box-sizing: border-box; 
}

@media (min-width: 640px) {
  .container {
    width: 100%;
    padding: 0; 
  }

  .column {
    margin-left: 4%; 
  }

  .column:first-child {
    margin-left: 0; 
  }

  .full-width.column              { width: 100%; margin-left: 0; }  
  .one-half.column                { width: 48%; }
  .one-third.column               { width: 30.6666666667%; }
  .one-quarter.column             { width: 22%; }
  .two-quarter.column             { width: 48%; }
  .three-quarter.column           { width: 74%; }
  .one-half.column                { width: 48%; } 
} /* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */


body {
  font-size: 16px;
  color: #444444;
  background-color: #e2e2e2;
  margin: 0;
}

h1, h2, h3, h4 {
  color: #444444;
  margin-top: 0;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.tituloQuestionario{
  text-align: left;
  align-self: flex-start;
  color: #52a555;
}

h3 {
  color: #737373;
  font-size: 18px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.questions_box {
  background-color: #ffffff;
  padding: 70px;
  text-align: left;
  box-sizing: border-box;
  max-width: 527px;
}

.button {
  align-self: flex-end;
  margin-top: 20px;
  cursor: pointer;

  font-size: 1em;
  border: none;
  padding: 10px 15px;
  line-height: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: baseline;
  background: #52a555;
  color: white;
  text-decoration: none !important;
  display: inline-block;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.button:hover {
  background-color: #4F9A53 !important;
  color: white;
}

.button0{
  align-self: center;
  margin: 10px 0px 0px 0px;
}

#question-0{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#question-1, #question-2, #question-3, #question-4, #question-5, #question-6{
  display: none;
  flex-direction: column;
}

#progress_bar {
  background-color: #52a555;
  width: 0%;
  height: 10px;
  transition: all 100ms ease-in-out;
  align-self: flex-start;
}

.infoScoreP{
  margin-top: 10px;
  text-align: left;
}

.infoScoreLink{
  color: #444444;
  text-decoration: underline;
}

.infoScoreLink:visited {
  color: #444444;
  }

  .opcao{
    margin-top: 12px;
  }
  
@media screen and (max-width: 640px) {
  h1 {
    font-size: 54px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h3 {
    color: #737373;
    margin-bottom: 20px;
  }

  .questions_box {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    max-width: 527px;
  }

  .opcao, #printscoreinfo, h3, .infoScoreP{
    font-size: 14px;
  }
}