@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --verdelogo: #52A555;
    --verdepositivo: #1A8300;
    --vermelhonegativo: #A52323;
    --roxotoxic: #78008B;
    --azulfuturo: #2281A7;
}

* {
	box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #FAFAFA;
}

.scroll-container {
	height: 100vh;
	scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: mandatory;
    overflow-x: hidden;
}

.spanRoxo{
    color: var(--roxotoxic);
}

.spanVermelho{
    color: var(--vermelhonegativo);
}

.spanVerde{
    color: var(--verdepositivo);
}

.spanAzul{
    color: var(--azulfuturo);
}

.spanOceano{
    color: #31439B;
}

.spanGeotermica{
    color: #FF9429;
}