@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --verdelogo: #52A555;
    --verdepositivo: #1A8300;
    --vermelhonegativo: #A52323;
    --roxotoxic: #78008B;
}


* {
	box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

/* All the snapping stuff */
.scroll-container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

section {
	height: 100vh;
	scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
    text-align: center;
}


section .content {
opacity: 0;
}

section.is-visible .content {
opacity: 1;
transition: opacity 1500ms;
}

section.is-visible .t2 {
transition-delay: 0.5s;
}

section.is-visible .t3 {
transition-delay: 1s;
}

section.is-visible .t4 {
transition-delay: 1.5s;
}

section.is-visible .t5 {
transition-delay: 1.5s;
}