.section__paragrafo{
    max-width: 800px;
    font-size: 14px;
    text-align: justify;
    font-weight: 500;
}

@media screen and (min-width: 360px) {
    .section__paragrafo{
        font-size: 15px;
    }
}

@media screen and (min-width: 420px) {
    .section__paragrafo{
        font-size: 16px;
    }
}