.introducao, .desenvolvimento, .energia, .projetos, .final {
	scroll-snap-align: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    scroll-snap-stop: always;
    text-align: justify;
    padding-top: 100px;
    padding-bottom: 700px;
}

.section__titulo{
    font-size: 24px;
    margin: 10px;
    text-align: center;
}

@media screen and (min-width: 1023px) {
    .section__titulo{
        font-size: 46px;
    }

    .introducao, .desenvolvimento, .energia, .projetos{
        padding-bottom: 400px;
    }
}

