.introducao, .desenvolvimento, .energia {
	scroll-snap-align: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    scroll-snap-stop: always;
    text-align: justify;
}

.section__titulo{
    font-size: 24px;
    margin: 10px;
    text-align: center;
}

.section__preenchimento{
    margin-bottom: 250px;
}


@media screen and (min-width: 1023px) {
    .section__titulo{
        font-size: 46px;
    }
}