.energia__desktopWrapper__VanDes__divisor{
    width: 2px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    background: #626161;
}

@media screen and (max-width: 1023px) {
    .energia__desktopWrapper__VanDes__divisor{
        display: none;
    }
}

.energia__desktopWrapper__VanDes__divisor--geotermica{
    height: 300px;
}