.energia__desktopWrapper__ilustracao{
    width: 50%;
    position: relative;
}

.energia__desktopWrapper__ilustracao img{
    width: 90%;
    position: absolute;
    top: -100px;
    left: 10%;
    right: 10%;
    margin-left: 0px;
    margin-right: 0px;
}