.energia__desktopWrapper__VanDes__vantagens__titulo{
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
    .energia__desktopWrapper__VanDes__vantagens__titulo{
        font-size: 20px;
        color: var(--verdepositivo);
    }
}