.energia__desktopWrapper__ilustracao{
    width: 50%;
    position: relative;
    animation: ilha 60s infinite alternate;
}

@media screen and (max-width: 1023px) {
    .energia__desktopWrapper__ilustracao{
        display: none;
    }
}

@keyframes ilha {
    from{
        top: 0px;
    }
    to{
        top: 300px;
    }
}

.energia__desktopWrapper__ilustracao__principal{
    width: 100%;
    position: absolute;
    top: -100px;
    left: 10%;
    right: 10%;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1;
}

.energia__desktopWrapper__ilustracao__nuvem{
    position: absolute;
    z-index: 0;
    width: 40%;
}

.nuvem1--eolica{
    top: 50px;
    left: 55px;
    animation: nuvem1__eolica 40s alternate infinite;
}


.nuvem2--eolica{
    top: 90px;
    left: 380px;
    animation: nuvem2__eolica 25s alternate infinite;
}

@media screen and (max-width: 1200px){
    .nuvem1--eolica{
        animation: nuvem1__eolica--1024 40s alternate infinite;
    }
    
    
    .nuvem2--eolica{
        animation: nuvem2__eolica--1024 25s alternate infinite;
    }
    
}


@keyframes nuvem1__eolica {
    0%{
        left: 55px;
    }
    100%{
        left: 380px;
    }
}

@keyframes nuvem2__eolica {
    0%{
        left: 380px;
    }
    100%{
        left: 55px;
    }
}


@keyframes nuvem1__eolica--1024 {
    0%{
        left: 55px;
    }
    100%{
        left: 300px;
    }
}

@keyframes nuvem2__eolica--1024 {
    0%{
        left: 300px;
    }
    100%{
        left: 55px;
    }
}