.home--wrapper{
    display: flex;
    justify-content: space-between;
}


.home__background{
    width: 500px;
    height: 500px;
}

.home__paragrafo{
    max-width: 280px;
    padding: 0px 45px;
    margin: 0px;
    box-sizing: content-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

@media screen and (min-width: 1024px) {
    .home__paragrafo{
        align-self: flex-start;
        font-size: 24px;
        padding: 0px;
        text-align: left;
        max-width: 360px;
    }   
   }


@media screen and (min-width: 1440px) {
.home__paragrafo{
    font-size: 27px;
    max-width: 540px;
}   
}


@media screen and (min-width: 1700px) {
.home__paragrafo{
    font-size: 32px;
    max-width: 540px;

}   
}

.home__titulo{
    font-size: 56px;
    letter-spacing: -1px;
    margin-top: 20px;
    background-image: linear-gradient(180deg, #52A555 41.67%, #000000 92%);
    background-size: 100% 100%;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media screen and (min-width: 1024px) {
    .home__titulo{
        align-self: flex-start;
        font-size: 64px;
        margin: 30px 0px;
    }   
}


@media screen and (min-width: 1200px) {
    .home__titulo{
        font-size: 70px;
    }   
}

   
@media screen and (min-width: 1440px) {
    .home__titulo{
        font-size: 76px;
    }   
}

