.projetos{
    padding-top: 70px !important;
}

.projetos__box{
    padding: 50px;
    display: flex;
    gap: 80px;
    align-items: center;
    width: 100%;
}

.projetos__box:nth-of-type(even){
    background: #CEDEFF;
}

.projetos__box:nth-of-type(odd){
    background: #B3CCFF;
}

.projetos__box__esquerda{
    width: 100%;
}

.projetos__box__esquerda__titulo{
    font-size: 20px;
}
.projetos__box__esquerda__paragrafo{
    font-size: 18px;
    margin: 30px 0px;
}

.projetos__box__esquerda__integrantes{
    font-size: 18px;
    margin: 30px 0px;
}

.projetos__box__esquerda__ul{
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
}

.projetos__box__img{
    margin-top: 20px;
    max-width: 100%;
    align-self: center;
    max-height: 300px;
}

.projetos__box__img__desktop{
    display: none;
}


@media screen and (min-width: 800px) {
    .projetos__box__esquerda__ul{
        flex-direction: row;
    }

    .projetos__box__img{
        align-self: flex-start;
        max-width: 50%;
    }
}


@media screen and (min-width: 1440px) {
    .projetos__box__img{
        display: none;
    }

    .projetos__box__img__desktop{
        display: block;
        max-width: 40%;
        margin-top: 30px;
        margin-left: 40px;
        width: 500px;
        height: 450px;
        
    }
    
    .projetos__box__esquerda__desktopWrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.projetos__box__esquerda__linkrelatorio:link {
    text-decoration: underline;
    color: #007CEE;
}
.projetos__box__esquerda__linkrelatorio:visited {
    color: #007CEE;
}

.projetos__box__esquerda__linkenergia:link{
    text-decoration: underline;
    color: #000000;
}

.projetos__box__esquerda__linkenergia:visited{
    text-decoration: underline;
    color: #000000;
}


.projetos__box ul{
    list-style: square;
    list-style-position: square;
}

.projetos__box ul li{
    margin-left: 20px;
    font-size: 18px;
}

.projetos__box ul li p{
    font-size: 18px;
    text-transform: capitalize;
}

.projetos__box__esquerda__titulo{
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .projetos__box{
        flex-direction: column;
        gap: 0px;
        padding: 30px;
    }


    .projetos__box ul li p{
        font-size: 18px;
    }

    .projetos__box__esquerda__titulo{
        font-size: 20px;
    }
    .projetos__box__esquerda__paragrafo{
        font-size: 18px;
    }
    
    .projetos__box__esquerda__integrantes{
        font-size: 18px;
    }
}

