.desenvolvimento__divVetores{
    display: flex;
    flex-direction: row;
    width: 105%;
    height: 80px;
    max-width: 500px;
    justify-content: space-between;
    padding: 0px 0px;
    margin-top: 20px;
}

@media screen and (min-width: 1024px){
    .desenvolvimento__divVetores{
        margin-top: 10px;
    }
}