.desenvolvimento__divVetores__divSolar{
    width: 60px;
    height: 70px;
    position: relative;
}

.desenvolvimento__divVetores__divSolar__painel__mobile{
    position: absolute;
    bottom: 0px;
    width: 40px;
    height: 30px;
}

.desenvolvimento__divVetores__divSolar__sol__mobile{
    position: absolute;
    top: -5px;
    right: -10px;
    animation: animaSol 4s infinite alternate linear, moveSol 10s infinite alternate linear;
}

.desenvolvimento__divVetores__divSolar__painel__desktop{
    display: none;
}

.desenvolvimento__divVetores__divSolar__sol__desktop{
    display: none;
}



@keyframes animaSol {
    0%{
        transform: scale(1.0) rotate(0deg);
    }
    100%{
        transform: scale(1.2) rotate(20deg);
    }
}

@keyframes moveSol {
    0%{
        right: -5px;
    }
    100%{
        right: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .desenvolvimento__divVetores__divSolar{
        margin-top: 20px;
    }

    .desenvolvimento__divVetores__divSolar__painel__desktop{
        display: block;
        position: absolute;
        bottom: 0px;
    }

    .desenvolvimento__divVetores__divSolar__sol__desktop{
        display: block;
        animation: animaSol 4s infinite alternate linear, moveSol 10s infinite alternate linear;
        top: -30px;
        position: absolute;
    }

    .desenvolvimento__divVetores__divSolar__painel__mobile{
        display: none;
    }
    
    
    .desenvolvimento__divVetores__divSolar__sol__mobile{
        display: none;
    }
}