.desenvolvimento__divVetores__divHidreletrica{
    background-image: url('../../img/desenvolvimento_animacao/hidro.png');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 60px;
    height: 70px;
    position: relative;
    overflow: hidden;
}

.desenvolvimento__divVetores__divHidreletrica img:nth-child(1){
    position: absolute;
    left: 16px;
    top: 16px;
}

.desenvolvimento__divVetores__divHidreletrica img:nth-child(2){
    position: absolute;
    bottom: 5px;
    left: -35px;
    animation: aguaCorrente 2s infinite linear;
}

@keyframes aguaCorrente {
    0%{
        left: -35px;
    }
    100%{
        left: -1.85px;
    }
}