.desenvolvimento__divVetores__divHidreletrica{
    background-image: url('../../img/desenvolvimento_animacao/hidro.png');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 60px;
    height: 70px;
    position: relative;
    overflow: hidden;
}

.desenvolvimento__divVetores__divHidreletrica__roda__mobile{
    position: absolute;
    left: 16px;
    top: 17px;
    animation: gira 6s infinite linear;
}

.desenvolvimento__divVetores__divHidreletrica__agua__mobile{
    position: absolute;
    bottom: 5px;
    left: -35px;
    animation: aguaCorrente 2s infinite linear;
}


.desenvolvimento__divVetores__divHidreletrica__roda__desktop{
    display: none;
    animation: gira 6s infinite linear;
}

.desenvolvimento__divVetores__divHidreletrica__agua__desktop{
    display: none;
}

@keyframes gira {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes aguaCorrente {
    0%{
        left: -35px;
    }
    100%{
        left: -1.85px;
    }
}

@keyframes aguaCorrente_desktop {
    0%{
        left: -55px;
    }
    100%{
        left: -10px;
    }
}

@media screen and (min-width: 1024px) {
    .desenvolvimento__divVetores__divHidreletrica{
        margin-top: 17px;
        background-image: url('../../img/desenvolvimento_animacao/hidro_desktop.png');
        background-position: bottom;
        background-repeat: no-repeat;
        width: 90px;
        height: 90px;
        position: relative;
        overflow: hidden;
    }
    .desenvolvimento__divVetores__divHidreletrica__roda__desktop{
        display: block;
        position: relative;
        left: 27px;
        top: 16px;
    }
    
    .desenvolvimento__divVetores__divHidreletrica__agua__desktop{
        display: block;
        position: relative;
        left: -27px;
        animation: aguaCorrente_desktop 2s infinite linear;
    }
    
    .desenvolvimento__divVetores__divHidreletrica__roda__mobile{
        display: none;
    }
    
    .desenvolvimento__divVetores__divHidreletrica__agua__mobile{
        display: none;
    }
    
}